@CHARSET "UTF-8";
body{
	/* 固定图像（设置这个保持欧朋，ff的background-position生效） */
    background-attachment:fixed;
    /*图像*/
    background-image: url(../img/search_bg.png);
    /*不平铺（重复）*/
    background-repeat: no-repeat;
    /*图片尺寸*/
    background-size:cover;
    /*图片定位*/
    background-position: center center;

    
}
.validateCode{
	width: 37%;
	float: left;
	height: 42px;
	position: relative;

}
#validateImg{
	float: left;
}
#lab{
	float: left;
}

#validateImg{
	width: 162px;
	height: 42px;
	border: 1px solid gray;
	margin-left: 5px;
}
#dim{
	height: 40px;
}
#dim a{
	line-height: 70px;
}
#sub_div{
	position: relative;

	height: 40px;
}
#sub_div a{
	float: right;
	line-height: 40px;
	margin-right: 30px;
}
#sub_div button{
	height:40px;
	width: 80px;
	margin-left: 30px;
}
#cler_f:after{
	content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}
#cler_f{
	zoom:1;
}
.help-use,.help_validateCode,.help-password{
	height: 20px;
}

.form1_div{
	width:400px;
	height:420px;
	position:absolute;
	left:50%;
	top:50px;
	margin-left:260px;
	margin-top:80px;
	border: 1px solid gray; 
	display: inline-block;
	box-shadow:1px 3px 5px #888888;
	color: black;
	z-index: 10;
}


#ba_c{
	background: black;
}

