.fy_cen{
	margin: 0 auto;
}
#fy_div{
	text-align: center;
}

/*修改用户信息弹出层*/
#update_div1{
	position: fixed;
	width:400px;
	height: 300px;
	top:50%;
	margin-top:-150px;
	left:50%;
	margin-left:-200px;
	 background: gray;
	 
}
body{
	text-align: center;
}

#update_but1{
	position:absolute;
	top:200px;
	left:20px;
	width:60px;
	height: 40px;
	
}
#update_but2
{
	position:absolute;
	top:200px;
	right:20px;
	width:60px;
	height: 40px;
}
/*列表组*/
.padding_15{
	padding-right: 15px;
    padding-left: 15px;
}
.list-group-item {
  
   
}
/*列表点击样式*/
.click_color{
	position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
	background-color:rgb(245, 222, 179);
	color: #555;
	text-decoration: none;
}
 a:link { text-decoration: none;}
　　 a:active { text-decoration:blink}
　　 a:hover { text-decoration:underline;} 
　　 a:visited { text-decoration: none;}

