<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.1.xsd	
	">
	<!-- 开启注解 -->
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.cn"></context:component-scan>
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<!-- 配置c3p0数据源 -->
	<bean id="DataBase" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${driverclass}"></property>
		<property name="jdbcUrl" value="${url}"></property>
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	<!-- sessionfactory -->
	<bean id="sessionFactroy" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="DataBase"></property>
		<property name="annotatedClasses">
			<list>
				<value>com.cn.bean.user_userinfo</value>
				<value>com.cn.bean.Word_info</value>
				<value>com.cn.bean.Word_Catalogue_Context</value>
				<value>com.cn.bean.Advice_Infomation</value>
			</list>
		</property>
		<!-- 设置方言 -->
			<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<!--  <prop key="hibernate.hbm2ddl.auto">create</prop> -->
			</props>
		</property>
	</bean>
	
	
	<!-- 创建事物管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactroy"></property>
	</bean>
	
	<!-- 配置事物的传播特性 所有事物"required" -->
	<tx:advice id="tx" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 配置切面 -->
	<bean id="log_deft" class="com.cn.advice.log"></bean>
	<aop:config>
		<aop:pointcut expression="execution(* com.cn.service.*.*(..))" id="cut"/>
		<aop:advisor advice-ref="tx" pointcut-ref="cut"/>
	</aop:config>
	
	 <aop:config>
		<aop:aspect id="log" ref="log_deft">
			<aop:pointcut expression="execution(* com.cn.service.*.*(..))" id="cut2"/>
			<aop:around method="fun1" pointcut-ref="cut2"/>
		</aop:aspect>
	</aop:config> 
	

</beans>